.buttonlar-div{
    display: flex;
    justify-content: space-arround;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
}
.buttonlar-div button{
    background-color: #FDC913;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.onemli{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

