.onemli{
    display: flex;
    justify-content: space-arround;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
}
.onemli button{
    background-color: #FDC913;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.onemli{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 770px){
    .onemli{
        flex-direction: column;
    }
    .onemli button{
        width: 100%;
        margin-bottom: 1rem;
    }
    .onemli{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
}
.category{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.card{
    border-radius: 10px;
    padding: 1rem 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.bottom{
    display:flex;
    justify-content: space-between;
}
.card h3{
    text-align:left;
}
.bottom p{
    color: gray;
}
.card img{
    width: 306px;
    height: 307px;
    border-radius: 10px;
}
.bottom p:first-child{
    font-weight: bold;
}
.bottom p:last-child{
    color: black;
    font-weight: bold;
}
.OnemliContainer{
    padding: 3rem;
}
@media (max-width: 770px){
    .category{
        flex-direction: column;
        align-items: center;
    }
    .card img{
        width: 100px;
        align-self: center;
        height: 100px;
    }
}